# Entornos virtuales
venv/
.env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Datos (muy importante para tu proyecto)
data/
datasets/
*.csv
*.xlsx

# Archivos grandes / outputs
models/
*.pkl
*.joblib

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/